.centered-text {
    text-align: center; /* Centra horizontalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .bg-marron{
    background-color: #eae7e7;
  }

  .separacion{
    margin-top: 20px;
  }



.titulo-nosotros{
    position: absolute;
    color: #eae7e7;
    top: 90%;
    left: 80%;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
  }

  @media screen and (max-width: 700px) {
    .titulo-nosotros{ 
        left: 30%;
  }
  }

  .formulario-agricultor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h2-nosotros{
    color: #388e3c;
}
label {
    display: block;
    margin-top: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
button {
    background-color: #388e3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #2e7d32;
}
