:root{
  --fuente-principal: 'Raleway', sans-serif;
  --fuente-segundaria: 'Roboto', sans-serif;
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

*{
    margin: 0;
    padding: 0;
    font-family:  var(--fuente-principal);
    
}
.contenedor__logo{
  position: fixed; /*agregar el header fijo*/
  left: 72%;
  top: 77%;
  width: 100%;
  z-index: 999;

}

.logo_whatsappMedium img{
  width: 20rem;
  
}
.logo_whatsapp img{
  display: none;
  
}


@media screen and (max-width: 700px) {
  .contenedor__logo{

    left: 60%;
    top: 72%;
 }
 .logo_whatsappMedium img{
  display: none;
  
}
.logo_whatsapp img{
  display: block;
  width: 8rem;
}
}
  
 
.titulo-nav { 
  background-color:#333 ;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.titulo-nav a{
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;

}
.icon-nav{
  display: flex;
  justify-content: right;
  align-items: center;
  
}

.icon-nav svg{
  margin-right: 20px;
  margin-left: 20px;
  transition: transform 1s ease
}

.icon-nav svg:hover{
  cursor: pointer;
  transform: scale(1.5);
}

ul, ol {
  list-style: none;
}

.nav > li{
  float: left;
}



html{
  scroll-behavior: smooth;
}


/*CSS para la navegacion actualizada*/ 
@media screen and (max-width: 700px) {
  .offcanvas-body li {
    display: flex;
    justify-content: center;
  }
 
}
  
.navbar-dark{
  background-color: #333;
}

.show{
  background-color: #333;
}
 

  /*servicios*/
  .titulo__servicios{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
  }

  .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    scroll-margin-top: 4ex;
 
  }

  @media screen and (max-width: 700px) {
  .servicios{
    grid-template-columns: 1fr;
  }
  }
  .section-services{
    background-color: #243f09;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .servicio{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   column-gap: 20px;
   margin-bottom: 20px;
   padding: 2rem;
  }

  .servicio p{
    font-size: 20px;
    text-align: center;
  }

.imagen__servicio{
  width: 10rem;
}

/*estilos para el footer*/

.footer {
  padding: auto;
  background-color: #333;
  color: white;
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

@media screen and (max-width: 800px) {
  .contenedor-footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
  text-align: center;
  
  }
  


}

.span_footer {
  font-size: small;
  font-style: italic;
}

.iconos-footer{
  display: flex;
  flex-direction: column;
}
.iconos__svg{
  display: flex;
  margin-top: 2rem;
  gap: 20px;
}

.iconos__svg svg:hover{
 transform:scale(1.5);
 transition: 1s;
 cursor: pointer;
}

/*estilos para los iconos*/

.icon {
  width: 30px;
}

.contenedor-img {
  display: flex;
  gap: 7px;
}

.map-container {
      position: relative;
      overflow: hidden;
      padding-bottom: 56.25%; /* Relación de aspecto 16:9 para mantener proporciones */
      height: 0;
      max-width: 400px; /* Ajustar el ancho del contenedor */
      margin: 0 auto; /* Para centrar el mapa horizontalmente */
    }

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-desarrolladores {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  justify-content: center;
}



/**Diseño de la sesion1**/

.sesion-imagen{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    height: 800px;

      animation: banner 10s infinite;
      animation-direction: alternate;

}

@keyframes banner {
      0%, 30% {
        background-image: url(./../build/img/imagenes_banner/banner_1.webp);
        opacity: 1;
      }
        31%,34% {
          opacity: 0.1;
        }
      35%, 65% {
        background-image: url(./../build/img/imagenes_banner/banner_2.webp);
        opacity: 1;
      } 
      66%,69% {
        opacity: 0.1;
      }
      70%, 100% {
        opacity: 1;
        background-image: url(./../build/img/imagenes_banner/banner_3.webp);
      }
}

.sesion-imagen .texto-sesion{
    color:white;
    font-size: 40px;
    position: absolute;
    top: 400px;
    left: 80px;
    text-shadow:0px 0px 10px #333;
}
@media screen and (max-width: 600px) {
  .sesion-imagen .texto-sesion{

    font-size: 30px;
    top: 400px;
    left: 5%;
    text-align: center;
}
}

.contenido-sesion__imagen{
  position: relative;
  padding: 0;
  margin: 0;
 }

.sesion-imagen .link-sesion{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #F9BB0B;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 600px;
    left: 80px;
    font-family:  var(--fuente-segundaria);
}
.link-sesion:hover{
  box-shadow: 0px 0px 10px #F9BB0B;
}

.producto .link-contenido a:hover {
  box-shadow: 0px 0px 10px #F9BB0B;
}


/**Diseño del main**/

.contenido-principal{
    margin-top: 80px;
}
.container h2 {
  font-size: 40px;
  margin-top: 20px;
}
.contenido-principal h2{
    text-align: center;
}

/**Diseño de seccion productos**/
.productos{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
@media screen and (max-width: 800px) {
  .productos{
    grid-template-columns: 1fr;
    row-gap: 50px;
}


}
.titulo__productos{
  text-align: center;
  padding: 2rem;
  font-size: 30px;
}


.productos .producto {
    text-align:center;
}

.producto img{
  max-width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.3s ease;
  
}

.producto img:hover{
  box-shadow: 0px 0px 10px #fff;
  transform: scale(0.7);
  cursor: pointer;
}

.producto .link-contenido{
    text-decoration: none;
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
}

@media screen and (max-width: 800px) {
  .producto .link-contenido{
    display: none;
}


}




.producto .link-contenido a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #F9BB0B;
    border-radius: 15px;
    padding: 10px;
}

/*descripcion de los productos*/

.imagen__producto-container {
  position: relative;
  display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
  transition: 1s ease;
} 

.descripcion-emergente {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color:  #498805;
  color: #fff;
  padding: 2rem;
  border-radius: 50px 10px;
  display: none;
  background-image: linear-gradient(#F9BB0B, transparent);
}



/**Diseño de sesion**/
.section__background{
  display: flex;
  background-color: #291c0a;
  color: #fff;
  padding-bottom: 2rem;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  margin: auto;
  padding: 15px;
}

.sesion-frase{
    background-image: url(./../img/imagenes_banner/campesino.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sesion-frase p{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow:0px 0px 10px #2f1d04;
    margin-top: 150px;
}

@media screen and (max-width: 600px) {
  .sesion-frase p{
    margin: 20px;
}

}

/*Diseño para la pagina del carrito*/
 #cantidad-carrito{
  position: absolute;
  left: 20%;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 13px;
  background-color: rgb(146, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 

.card-article{
  border-radius: 5px;
  border: rgb(248, 246, 246)1px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-cafe {
  color: #fff; /* Texto en color blanco */
  background-image: linear-gradient(to right, #28a745 50%, transparent 50%); /* Fondo con gradiente horizontal */
  background-size: 200% 100%; /* Tamaño del gradiente */
  border: none;
  padding: 10px 20px; /* Relleno del botón */
  transition: background-position 0.3s ease; /* Transición suave de la posición del fondo */
  border-radius: 20px;
  
}

.btn-cafe:hover {
  background-position: -100% 0; /* Mueve el gradiente hacia la izquierda al pasar el ratón (hover) */
  background-color: rgb(51, 51, 51);
}
#btn-elegirmasproductos{
  text-decoration: none;
}


