:root {
  --fuente-principal: 'Raleway', sans-serif;
  --fuente-segundaria: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fuente-principal);
  
}


/*CSS para la navegacion actualizada*/ 
@media screen and (max-width: 700px) {
  .offcanvas-body li {
    display: flex;
    justify-content: center;
  }
 
}
  
.navbar-dark{
  background-color: #333;
}

.show{
  background-color: #333;
}
/*icono para crecer*/
.nav-link svg:hover{
  cursor: pointer;
  transition: 1s;
  transform: scale(1.5);
}

html {
  scroll-behavior: smooth;
}



/*Aqui empieza todo lo relacionado con el main*/

.div-todo {
  display: grid;
  position: relative;
  grid-template-columns: 400px 1000px;
  margin-left: 50px;
  margin-top: 100px;
  margin-right: 0px;

}
@media screen and (max-width: 800px) {
 
  .div-todo{
    display: block;
    justify-content: center;
    align-items: center;
    left: 13px;
  }
}

.div-principal {
  height: 950px;
  background-color: #6F4E37;
  max-width: 100%;
  height: 900px;
  padding-top: 60px;
  border-radius: 30px;
  margin-bottom: 100px;

}
@media screen and (max-width: 1200px) {
  .div-principal {
    display: none;

  }

  .div-todo {
    display: grid;
    grid-template-columns: 1fr;
    margin:70px;
    margin-left: 0px;
    max-width: 100%;
  
  }
  

}

.titulo-productos {
  color: #333;
  margin-top: 100px;
  text-align: center;
  font-size: 50px;

}


.div-productos {
  background-color: white;
  max-width: 100%;
  max-height: auto;
  box-shadow: 0px 0px 13px 1px rgba(128, 128, 128, 0.79);
  border-radius: 30px;
  border-top-right-radius: 0px;
}

.Producto {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 150px;
}

.Producto img {
  width: 100px;
  margin: 10px;
}

.link-comprar, .link-detalles,
.link-comprar-producto {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(21, 69, 21);

}
.link-detalles{
  display: none;
}
@media screen and (max-width: 1200px) {
  .link-comprar{
   display: none;
  }
  .link-detalles{
    display: block;
    padding: 20px;
  }


}

.link-comprar-producto {
  justify-content: center;
  background-color: #2f1d04;
}

.link-comprar-producto:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
  background-color: rgb(21, 69, 21);
  ;
}

.link-comprar:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
  background-color: #2f1d04;
}

.link-detalles:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
  background-color: #2f1d04;
}

.texto-compra {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: var(--fuente-segundaria);
  padding: 15px;
}

.Producto .barra {
  width: 15px;
  height: 150px;
  background-color: white;
}

#producto-info {
  width: 250px;
}

@media screen and (max-width: 700px) {
  .producto-info {
   display: flex;
   flex-direction: column;
  }



}






/*Diseño informacion del producto*/

.info-producto {
  margin-right: 50px;
  margin-left: 100px;

}

#producto2 {
  text-align: center;
}

.Tituloinfo-producto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tituloinfo-producto img {
  width: 100px;
}

.Tituloinfo-producto #titulo-info-producto {
  font-size: 60px;
  font-weight: bold;
  margin-right: 15px;
}
@media screen and (max-width: 1200px) {
  .Tituloinfo-producto {
    display: flex;
    flex-direction: column;
  }



}

.Texto-info-producto {
  font-size: 20px;
  color: #707070;
  max-width: 700px;
  text-align: center;
  margin: auto;
}

/*Diseño "mas productos" */

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 700px) {
  .productos {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  


}


.productos .producto {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .productos .producto {
    text-align: center;
    column-gap: 10px;
  }
  


}

.producto img {
  max-width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.3s ease;

}

.producto img:hover {
  box-shadow: 0px 0px 10px #fff;
  transform: scale(0.7);
  cursor: pointer;
}

.producto .link-contenido {
  text-decoration: none;
  margin-top: 20px;
  margin-right: 40px;
  text-align: right;
}


.producto .link-contenido a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: #F9BB0B;
  border-radius: 15px;
  padding: 10px;
}

.section__background {
  color: black;
  padding: rem;
  margin-top: 100px;
  border-radius: 12px;
}

.sesion-frase {
  background-image: url(./../img/imagenes_banner/banner_4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sesion-frase p {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 10px #2f1d04;
  margin-top: 150px;
}

.imagen__producto-container {
  position: relative;
  display: inline-block;
  /* Para que el contenedor se ajuste al tamaño de la imagen */
  transition: 1s ease;
}

.descripcion-emergente {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #498805;
  color: #fff;
  padding: 2rem;
  border-radius: 50px 10px;
  display: none;
  background-image: linear-gradient(#F9BB0B, transparent);
}

.sesion-imagen .link-sesion {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #F9BB0B;
  border-radius: 15px;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 600px;
  left: 80px;
  font-family: var(--fuente-segundaria);
}

.link-sesion:hover {
  box-shadow: 0px 0px 10px #F9BB0B;
}

.producto .link-contenido a:hover {
  box-shadow: 0px 0px 10px #F9BB0B;
}

.producto img {
  max-width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.3s ease;

}

.titulo__productos {
  text-align: center;
  padding: 2rem;
  font-size: 30px;
}

/*Diseño footer*/
.footer {
  padding: auto;
  background-color: #333;
  color: white;
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

@media screen and (max-width: 800px) {
  .contenedor-footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
  text-align: center;
  
  }
  


}


.span_footer {
  font-size: small;
  font-style: italic;
}

.iconos-footer {
  display: flex;
  flex-direction: column;
}

.iconos__svg {
  display: flex;
  margin-top: 2rem;
  gap: 20px;
}

.iconos__svg svg:hover {
  transform: scale(1.5);
  transition: 1s;
  cursor: pointer;
}

.icon {
  width: 30px;
}

.contenedor-img {
  display: flex;
  gap: 7px;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* Relación de aspecto 16:9 para mantener proporciones */
  height: 0;
  max-width: 400px;
  /* Ajustar el ancho del contenedor */
  margin: 0 auto;
  /* Para centrar el mapa horizontalmente */
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-desarrolladores {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  justify-content: center;
}


/*estilos para la ventana emergente de agregar al carrito*/
.ventanaEmergente {
  background-color: #a09483;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 15%;
  left: 35%;
  margin: 20px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0px 0px 10px #333;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

@media screen and (max-width: 800px) {
  .ventanaEmergente {
   max-width: 300px;
   left: 5%;
  }

}


/*desenfocar el html*/
.main{
  overflow: hidden; /* Evita el desplazamiento del contenido mientras está desenfocado */
}


.mostrar {
  display: block;
  opacity: 1;
  filter: blur(0px); /* Ajusta el valor para controlar la cantidad de desenfoque */
}

.contenedor__header__ventanaEmergente {
  position: relative;
}

.icono__ventanaEmergente {
  position: absolute;
  top: 30%;
  left: 90%;
}

.icono__ventanaEmergente:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.5);
}

.parrafo__ventanaEmergente {
  font-weight: 700;
  padding: 30px;
  background-color: #333;
  border-radius: 50px 50px 0px 0px;
}
@media screen and (max-width: 800px) {
  .parrafo__ventanaEmergente {
   max-width: 300px;
   left: 5%;
  }

}

.parrafo__ventanaInferior {
  font-weight: 700;
  padding: 30px;
}

/*Div para el formulario*/
.contenedor__form {
 padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 20px;
  background-color: #333;

}
@media screen and (max-width: 800px) {
  .contenedor__form{
   max-width: 200px;
   left: 5%;
  }

}


/*Formulario*/

.seccion__inputs {
  margin: 30px 50px;
}

.seccion__inputs label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.seccion__inputs input {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
  color: #333;

}

@media screen and (max-width: 800px) {
  .seccion__inputs {
    margin: 0;
    margin-bottom: 20px;
  }

}


.seccion__inputs input:focus {
  outline: none;
  box-shadow:0px 0px 10px  rgb(11, 118, 185);
}

.Boton_ventanaEmergente {
  background-color:  #2b480c;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Boton_ventanaEmergente:hover {
  background-color: #498805;
}

.span {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #888;
  cursor: pointer;
}
.span-a {
  color: rgb(59, 132, 168);
}
/* Estilos para tamaños móviles */
@media (max-width: 600px) {
  .ventanaEmergente {
      padding: 10px;
  }

  .contenedor__form {
      width: 95%;
  }
}

/*contador carrito*/
#contador{
  position: absolute;
  color: #f2f2f2;
  bottom: 10%;
  left: 70%;
  background-color: #e57373;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  display: none;
}
.contenedor-carrito{
  position: relative;
}

/*Diseño de pagina carrito*/

#contenido-carrito{
  background-color:white;
  color: #fff;
  position: fixed;
  width: 600px;
  height: 98.2%;
  right: -75px;
  top: 0px;
  border-radius: 12px 0px 0px 12px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
   box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
   display: none;
}

#contenido-carrito #titulo-carrito{
  color: #154515;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titulo-carrito #borrar-carrito{
  position: relative;
  right: -100px;
  
}
#borrar-carrito1{
  width: 25px;
}
#borrar-carrito:hover{
  cursor: pointer;
}

#contenido-carrito #boton-iracarrito{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 550px;
}

#contenido-carrito #boton-iracarrito p{
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  color: black;
}

#contenido-carrito #boton-iracarrito hr{
  width: 400px;
  margin: auto;
  border-color: black;
}

#contenido-carrito #boton-iracarrito button{
  background-color: #154515;
  border: none;
  border-radius: 10px;
  padding:15px 40px 15px 40px;
  transition: 0.5s;
  
}

#contenido-carrito #boton-iracarrito a{
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#contenido-carrito #boton-iracarrito button:hover{
  cursor: pointer;
  padding:20px 45px 20px 45px;
  
}

#select-carrito{
  width: 100px;
  height: 40px;
  background-color: #333333;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}